# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# FAISS Indexes and Databases
*.faiss
*.db

# Data & Large Media
images/
real_images/
*.zip
*.mp4
*.wav

# Logs
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# Environments & Cache
.env
.venv/
.venv-1/
.pytest_cache/
